
body {
    background-color: #EEF4ED;
}

#fotoPerfilRodrigo{
    border-radius: 50%;
    width: 200px;
}

#quemSouEu{
    font-family: FreeMono, monospace;
    font-size: medium;
    color: #0B2545;
    background-color: #8DA9C4;
    width: 200px;
    margin-top: 37px;
    padding: 38px 34px 34px;
    border-radius: 5px;
    margin-left: 37px;
}

.listaDeHabilidades{
    background-color: #134074;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 18px 18px 18px;
    width: 200px;
    border-radius: 5%;
    margin-left: 37px;
    text-align: center;
    font-size: 24px;
    list-style: none;
}

.habilidadeT{
    color: #EEF4ED;

}

.habilidadeN{
    color: #8DA9C4;

}
.redeSocialGitHub{
    background-color: #24292F;
    color: white;    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    padding: 18px 18px 18px;
    border-radius: 5%;
    margin-left: 37px;
    line-height: 1.7cm;
    text-decoration: none;
}

.redeSocialLinkedin{
    background-color: #0a66c2;
    color: white;    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    padding: 18px 18px 18px;
    border-radius: 5%;
    text-decoration: none;
}